@font-face {
    font-family: 'gilroy-extrabold';
    src: url('Font/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('Font/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

  footer > ul {
    transform-origin: bottom left;
    transform: rotate(90deg);
    left: 0;
    top: -2em;
    text-align: left;
    width:100vh;
    padding:1em;

  }

  #language {
    position:fixed;
    bottom:1em;
    right: 1em;
    z-index:150;
    margin:10px;
  }

  #showAbout > p {
    line-height: 40px;
    font-size:40px;
    text-align:left;
    padding: 7%;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  footer >ul {
    font-weight:700;
    font-size:1rem;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #f6f6f6;
    box-shadow: 0 0 5px 5px #f6f6f6;
    text-align: center;
  }

  #language {
    position:fixed;
    top: 1em;
    right: 1em;
    z-index:200;
  }

  #showAbout > p {
    line-height: 70px;
    font-size:70px;
    text-align:center;
    padding: 1% 5.5vw;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


  footer > ul{
    font-size:1rem;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #f6f6f6;
    box-shadow: 0 0 5px 5px #f6f6f6;
    text-align: center;
  }

  #language {
    position:fixed;
    top: 1.5em;
    right: 2em;
  }

  #showAbout > p {
    line-height: 70px;
    font-size:70px;
    text-align:center;
    padding: 1% 5.5vw;
  }
}


::-webkit-scrollbar {
    display: none;
}


body {
 font-family: 'Playfair Display';
 background-color:#f6f6f6;
 margin:0;
/* cursor: pointer;*/
}

#loadingScreen {
  position:fixed;
  width:100%;
  height:100%;
  margin:0;
  background-color:black;
  z-index: 110;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

#wrapper {
position:relative;
overflow-x: hidden;

}

summary {
  font-family: gilroy-extrabold;
  font-weight:bold;
  color:black;
}

summary:focus{outline:0;}

summary:hover {
  color:#113ffa;
}
details p{
  font-size:0.6rem;
}

li > a {
  padding-bottom:2px;
  font-family: gilroy-extrabold;
  font-size:0.8rem;
  text-align:left;
  background-color:#f6f6f6;
  transition:all 0.2s;
  border-bottom: 1px solid transparent;
  border-bottom-width : 0;
  text-decoration:none;
  cursor:pointer;
}

a.underlineAnim {
   position: relative;
}

a.underlineAnim:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.underlineAnim:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a:link {
  color:black;
  text-decoration:none;
}

a:visited {
  color:black;
  text-decoration: none;
}


footer > ul {
  position: fixed;
  margin:0;
  z-index:100;
  display:flex;
  justify-content:space-evenly;
  font-family: gilroy-extrabold;
  padding:2%;
}


.images img {
  padding:3.5em 1em;
}
.images {
  z-index:20;
}


.description {
  position:fixed;
  z-index:-1;
  text-align:left;
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.projectSumUp {
  font-size:2vw;
}

.projectTitle{
  font-family: 'Playfair Display';
  font-weight:normal;
  font-size:9em;
  grid-column:1/2;
  z-index:50;
  line-height:0.9;
  margin-top:0;
  animation-duration: 0.8s;
  animation-name: pop;
  color: black;
}

.invisible {
  display:none;
}

.break {
  opacity:0;
}


#contact {
  text-align:center;
}


.floatingP {
  padding:25px;

  font-size:1em;
  text-align:center;
}

li {
  list-style-type: none;
}


@keyframes pop {
  from {
    opacity:0;
    margin-top:20%;

  }

  to {
    opacity:1;
     margin-top:0%;
  }
}


.sectionHeader {
  animation-duration: 0.5s;
  animation-name: pop;
}

#showContact a {
  color:#113ffa;
}

.gridBox {

}


#showAbout p {
  color:#1B1E1C;
  z-index:10;
  margin:0;
}

#landing {
  display:flex;
  justify-content:center;
  align-items: center;
}

#prenom {

  font-family : 'Playfair Display';
  font-weight: black ;
  font-size:6em;
  color:black;
  opacity:0;

}




