/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p{
 font-size: 3.2vw;
  }

.images {
  z-index:20;
  margin-left:8vw;
}

h1, h2, h4, h5, h6 {
  margin:4vw 0;
  font-size:12vw;
  font-family: 'gilroy-extrabold';
  font-weight:bold;
}

.images img {
    margin:30px 4vw;
  }

  .arrow {
  position: fixed;
  bottom: 0.5em;
  left: 0.7em;
  display: block;
  text-align: right;
  text-decoration: none;
  z-index: 200;
  width: 1.5rem;
  transition: transform 0.4s;
}
  .footer {
  transform-origin: bottom left;
  transform: rotate(90deg);
  font-family: 'gilroy-extrabold';
  position: fixed;
  left: 1em;
  top: 0em;
  width: 100vh;
  height:1.5em;
  text-align: left;
  z-index:100;
  }

  button {
  font-size:0.7rem;
  border-style: none;
  text-align:left;
  background-color:#f6f6f6;
}
  #language {
    position:fixed;
    bottom:1em;
    right: 1em;
    z-index:150;
    margin:10px;
  }
   #showAbout {
  margin-top:25em;
}
  #p5CanvasMobile {
    padding-left:2em;
    margin-top:20vh;
  }

  #nom {

  text-align:left;
  padding-left:0.4em;
}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  p{
 font-size: 4em;
}

h1, h2, h4, h5, h6 {
  margin:4vw 0;
  font-size:10vw;
  font-family: 'gilroy-extrabold';
  font-weight:bold;
}

.images img {
    margin:20px 4vw;
  }

  .images {
  z-index:20;
  margin-left:8vw;
}
  .arrow {
  position: fixed;
  bottom: 1vh;
  left: 2vw;
  display: block;
  text-align: right;
  text-decoration: none;
  z-index: 200;
  width: 1.5rem;
  transition: transform 0.4s;
}
  .footer {
  font-family: 'gilroy-extrabold';
  font-weight:bold;
  font-size:1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:6vh;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 5px #f6f6f6;
  text-align: center;
  z-index:100;
  }

  button {
  font-size:0.8rem;
  border-style: none;
  text-align:left;
  background-color:#f6f6f6;
}
#language {
    position:fixed;
    top: 4em;
    left: 3em;
  }
  #showAbout {
  margin-top:30vh;
}
   #p5CanvasMobile {
    padding-left:2em;
    margin-top:20vh;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  p{
   font-size: 3em;
  }

  h1, h2, h4, h5, h6 {
    text-align: left;
    font-size:2em;
    font-family: 'gilroy-extrabold';
    font-weight:bold;
  }
  .images img {
    margin:10px 1em;
  }

  .images {
  z-index:20;
  margin-left:4em;
  }

  .arrow {
  position: fixed;
  bottom: 2em;
  left: 1em;
  display: block;
  text-align: right;
  text-decoration: none;
  z-index: 200;
  width: 2rem;
  transition: transform 0.4s;
  }
  .footer {
  font-family: 'gilroy-extrabold';
  font-weight:bold;
  font-size:1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:12vh;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 5px #f6f6f6;
  text-align: center;
  z-index:100;
  }

  button {
  font-size:0.8rem;
  border-style: none;
  text-align:left;
  background-color:#f6f6f6;
  margin:0px 30px;
  padding-top:4vh;
  }

  #language {
    position:fixed;
    top: 4em;
    left: 2em;
  }
  #showAbout {
  margin-top:5vh;
  text-align:center;
}
   #p5CanvasMobile {
    margin-top:9.8em;
  }
  .name {

  left:10.5em;
  text-align:center;
  font-size:3em;
  line-height: 1.5em;

  }

  #nom {
    margin-top:6em;
  }

  #prenom {
    margin-top:4em;
  }

  #showAbout p {
    font-size : 4em;
  }

}


::-webkit-scrollbar {
    display: none;
}


body {
 font-family: 'Playfair Display';
 background-color:#f6f6f6;
 cursor: pointer;
}


#wrapper {
position:relative;
 overflow-x: hidden;

}
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('Font/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('Font/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Athelas Regular';
font-style: normal;
font-weight: normal;
src: url(Font/'Athelas-Regular.woff') format('woff');
}

.loader {
  position : fixed;
  z-index : 99;
}

button:focus {
  outline:0;
}

button:hover {
   transform:scale(1.1);
}

summary {
  font-family: 'gilroy-extrabold';
  font-weight:bold;
  color:black;
  font-size:0.3rem;
}

summary:focus{outline:0;}

summary:hover {
  color:#113ffa;
}

details p{
  font-size:0.6rem;
}

a:link {
  color:#113ffa;
  text-decoration: underline;
}

a:visited {
  color:#113ffa;
  text-decoration: none;
}

mark {
  font-weight: bold;
  background-color: #f6f6f6;
  text-decoration: none;
}

.description {
  position:fixed;
  z-index:-1;
  text-align:left;
}

.invisible {
  display:none;
}

.break {
  opacity:0;
}

.arrow.up {
  transform: rotate( 180deg );
}

.arrow.blue svg polygon {
  fill: #113ffa;
}


#contact {
  text-align:center;
}





